# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# specific to fancy symlinks we require
tests/dummy/lib/modern/node_modules/ember-browserify/lib/index.js
tests/dummy/lib/outdated/node_modules/ember-browserify/lib/index.js
