# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# linking ember-browserify here, so addon-discovery bug is worked-around.
# linking the dir, so as:
#  * not to create a cycyle
#  * use the correct version of ember-browserify
#  * use symlinks when possible, but correctly fallback to junctions on windows
#  (if no symlinks are used)
#  * symlinked files turn out to be realpathSync'd before being loaded into
#    node, which means this should nicely trick node. Atleast in posix, although
#    in windows this may also be true with junctions... Ultimately this is just
#    for testing, and its working around a potential addon-discovery bug which
#    will hopefully soon be addressed.
tests/dummy/lib/modern/node_modules/ember-browserify/lib
tests/dummy/lib/outdated/node_modules/ember-browserify/lib
